<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.products.safetyfirst">


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.products.safetyfirst.activity.IntroActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar">

        </activity>
      <!--  <activity
            android:name="com.products.safetyfirst.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name="com.products.safetyfirst.activity.TempActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

     <!--   <activity
            android:name="com.products.safetyfirst.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>-->
        <activity android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.KnowItSecondActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/NoActionBar"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activity.ItemTypeInfoActivity"
            android:label="@string/title_activity_item_type_info"
            android:parentActivityName=".activity.KnowItSecondActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.products.safetyfirst.activity.KnowItSecondActivity" />-->
        </activity>
    </application>

</manifest>