<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.products.safetyfirst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        <activity
            android:name="com.products.safetyfirst.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".activity.TempActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewsDetailActivity"
            android:parentActivityName=".activity.TempActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.KnowItSecondActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.ItemTypeInfoActivity"
            android:label="@string/title_activity_item_type_info"
            android:parentActivityName=".activity.KnowItSecondActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="com.products.safetyfirst.activity.KnowItSecondActivity" /> -->
        </activity>
        <activity android:name=".activity.BaseActivity" />
        <!-- <activity android:name=".activity.EmailPasswordActivity"> -->
        <!-- </activity> -->
        <!-- <activity android:name=".activity.GoogleSignInActivity"> -->
        <!-- </activity> -->
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.PasswordResetActivity" />
        <activity
            android:name=".activity.PostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ProfileActivity"></activity>
    </application>

</manifest>